span.ingredient {
  color: rgb(255, 0, 0);
}
span.hidden {font-size: 0px;}
body{background-color: rgb(0, 0, 0)
;}

caption{ font-size: 20px;}

p{color: rgb(255, 255, 255);}


table {
  border: 1px solid rgb(255, 255, 255);
}

th,
td {
  border: 3px solid rgb(255, 255, 255);
}
details {
  border: 1px solid rgb(0, 0, 0);;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

}
